.wrapper {
    box-sizing: border-box;
    width: 1600px;
    margin: auto;
    color: var(--couleur-texte);
}

.ligne-wrap-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colonne-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pdt-1 {
    padding-top: 1.4rem;
}

@media screen and (max-width: 1500px) {
    .wrapper {
        width: auto;
    }
}

@media screen and (max-width: 560px) {
    .colonne-center {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}